@{
    ViewBag.Title = "Products";
}

<h2>Product page goes here!</h2>

@foreach (var product in Model)
{
    <p>
        <a href="@product.image">
            @product.name
        </a>
    </p>
}


